<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/app.css">
		<title>Galaxy.io | The explorer of Dero smart contracts</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

		{% block css %}
		{% endblock %}
	</head>
	<body>
		<header class="container">
			<nav>
				<div class="logo">
					<a href="/">
						<img src="/img/logo.svg" alt="">
					</a>
				</div>

				<div class="search-bar-container">
					<form action="/search">
						<input type="search" class="searchbar">
						<button type="submit">Search</button>
					</form>
				</div>

				<ul>
					<!--
					<li><a href="/login">Documentation</a></li>
					 -->
					<li>
						{% if user %}
							<ul class="menu-user-navbar">
								<li class="link-app-container">
									<a href="/app" title="Go to application">
										<img src="{{ user['_json']['avatar_url'] }}" alt="">
										<span id="username" data-id="{{ user.id }}">
											{{ user.username }}
										</span>
									</a>
								</li>
								<li class="logout-container">
									<a title="logout" href="/logout"><i class="fas fa-power-off"></i></a>
								</li>
							</ul>
						{% else %}
							<a href="/login">LOGIN</a>
						{% endif %}
					</li>
				</ul>
			</nav>
		</header>

		<main>
			{% block content %}

			{% endblock %}
		</main>

		<footer>
			<div class="container">
				Privates smarts contracts are here

			</div>
		</footer>
		<script src="/js/index.js"></script>
		{% block js %}
		{% endblock %}
	</body>
</html>