{% extends "_layout.html" %}

{% block css %}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/default.min.css">
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="card mb-2">
                <div class="card-content">
                    <h1 class="is-size-3 mb-2">{{ contract.title }}</h1>
                    <h2 class="is-size-5 mb-2">{{ contract.description }}</h2>
                    <div class="mb-2">{{ contract.file }}</div>
                    <div class="mb-2">{{ contract.version }}</div>
                    <div class="mb-5">
                        <a href="{{ contract.url }}"></a>
                    </div>

<pre>
<code class="lang-c">
{{ contract.content }}
</code>
</pre>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}