{% extends "_layout.html" %}

{% block css %}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/default.min.css">
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <h1 class="is-size-4">Get Started</h1>
                </div>
            </div>

            <pre class="code">
						<code class="lang-toml">
// sc.toml (at the root of your repository)
[[sc]]
title = 'My awesome smart contract'
description = 'A short description'
file = 'hello_world.bas'
version = '1.2.3'

[[sc]]
title = 'Another awesome smart contract'
description = 'A short description'
file = 'folder/hello_world2.bas'
version = '4.5.6'
						</code>
					</pre>
        </div>
    </section>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
