{% extends "_layout.html" %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1>Get Started</h1>

                <div>
                    smart_contracts.json
<pre>
<code class="lang-json">
{
    "smart_contracts": [
        {
            "title": "HelloWorld",
            "description": "a simple hello world",
            "version": "1.2.3"
            "file": "hello_world.json"
        }
    ]
}
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
