{% extends "_layout.html" %}

{% block css %}
<link rel="stylesheet"
	  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/default.min.css">
{% endblock %}

{% block content %}
	<section id="landing">
		<h1 class="title">DERO is an amazing fast in private blockchain</h1>
		<h2 class="title">The smart contracts are here</h2>
		<div class="">
			<a href="/search" class="button is-medium is-info">
				Search
			</a>

			<a href="/get-started" class="button is-medium is-primary">
				Get started
			</a>
		</div>
	</section>

	<section class="section" id="latest">
		<div class="container">
			<h2 class="title has-text-centered is-size-3">
				Latest smart contracts available
			</h2>
			<div class="columns is-multiline smart-contracts">
				{% for smart_contract in smarts_contracts %}
					<div class="column is-one-third">
						<div class="card smart-contract">
							<div class="card-header">
								<div class="card-header-title">
									<a href="/smart-contract/{{ smart_contract.id }}">
										{{ smart_contract.title }}
									</a>
								</div>
							</div>
							<div class="card-content">
								{{ smart_contract.description }}
							</div>
							<div class="card-footer">
								<a href="#" class="card-footer-item">github.com/toto/toto</a>
							</div>
						</div>
					</div>
				{%- endfor %}
			</div>
		</div>
	</section>

	<section class="section has-background-grey-lighter" id="documentation">
		<div class="container">
			<div class="columns is-align-items-center">
				<div class="column">
					<h3 class="title has-text-centered is-size-3">A simple configuration file</h3>
				</div>
				<div class="column box">

					<pre class="code">
						<code class="lang-toml">
// sc.toml (at the root of your repository)
[[sc]]
title = 'My awesome smart contract'
description = 'A short description'
file = 'hello_world.bas'
version = '1.2.3'

[[sc]]
title = 'Another awesome smart contract'
description = 'A short description'
file = 'hello_world2.bas'
version = '4.5.6'
						</code>
					</pre>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
