{% extends "_layout.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    {% for sc in smart_contracts %}
                        <pre>{{ sc | dump }}</pre>
                        <div class="card mb-2">
                            <div class="card-content">
                                <div class="has-text-weight-semibold">
                                    {{ sc.title }}
                                </div>
                                <div>
                                    {{ sc.description }}
                                </div>
                                <div>
                                    {{ sc.version }}
                                </div>
                                <div>
                                    <img src="" alt="">
                                    {{ sc.url }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">
                                Categories
                            </div>
                        </div>
                        <div class="card-content">
                           Coming soon
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}