{% extends "_layout.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    {% for contract in contracts %}
                        <div class="card mb-2">
                            <div class="card-content">
                                <div class="has-text-weight-semibold mb-2">
                                    <a href="/smart-contract/{{ contract.id }}">{{ contract.title }}</a>
                                </div>
                                <div class="mb-2">
                                    {{ contract.description }}
                                </div>
                                <div class="mb-2">
                                    {{ contract.version }}
                                </div>
                                <div>
                                    <a class="is-flex  is-align-items-center">
                                        <img src="{{ contract.user.avatar_url }}" alt="" width="40px">
                                        <span>{{ contract.user.username }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">
                                Categories
                            </div>
                        </div>
                        <div class="card-content">
                           Coming soon
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}