@charset "UTF-8";

body {
  background: #0d0f49;
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: #a2a3bd;
}

#app {
  display: flex;
}

#app ul {
  margin: 0;
  padding: 0;
}

#app ul li {
  list-style-type: none;
}

#app button {
  background: #fff;
  color: #000;
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  border: 1px solid transparent;
  cursor: pointer;
}

#app .side-panel {
  background: #2a2c3f;
  width: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
}

#app .side-panel i {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

#app .side-panel i.active {
  background: #249bb8;
}

#app .manager-panel {
  display: flex;
  width: 22rem;
  background: #222336;
  padding: 1rem;
}

#app .manager-panel .files-explorer li.folder {
  margin-bottom: 1rem;
}

#app .manager-panel .files-explorer li.folder li.file {
  margin: 0.4rem 1rem;
}

#app .manager-panel .files-explorer .bi-folder2-open {
  font-size: 1.1rem;
  margin-right: 0.4rem;
}

#app .manager-panel .files-explorer .bi-file-earmark {
  font-size: 1.1rem;
  margin-right: 0.4rem;
}

#app .main-panel {
  width: 100%;
  background: #2a2c3f;
}

#app .main-panel .editor {
  font-size: 1.1rem;
}

#app .main-panel .editor .Í¼2 .cm-activeLine {
  background: rgba(52, 56, 60, 0.4);
}

#app .main-panel .terminal {
  background: #0a0a0a;
  height: 30vh;
  display: flex;
  flex-direction: column;
}

#app .main-panel .terminal .terminal-header {
  display: flex;
  padding: 1rem;
  background: #00e7eb;
}

#app .main-panel .terminal .terminal-body {
  padding: 1rem;
}

