table {

    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    //background-color: transparent;

    thead {

        th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
            background: #000;
        }
    }
}