//@import 'variables';
@import 'footer';

@import 'nav';


@import '../../node_modules/bulma/bulma';


body {
	background: #e5eaf1;

	font-family: Arial;

	a {
		text-decoration: none;
		color: $blue;
	}
}

#landing {
    background: rgb(13,15,73);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(62,50,84,1) 50%, rgba(0,0,0,1) 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
    min-height: 30vh;

    .title {
        font-size: 1.8rem;
        margin-bottom: 4rem;
        color: #fff;
    }
}

main {
    min-height: 50vh;
}


.app-nav {
    background: #000;
    display: flex;
    flex-direction: column;
    width: 20vw;
    min-height: 50vh;

    a {
        display: block;
        padding: 1rem;


    }
}